body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../img/bgg.jpeg);
    background-size: cover;
    background-position: center;
  }
  .page-container {
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
  }
  .experience-container {
    text-align: center;
  }
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .experience-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
  .experience-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    position: relative;
  }
  .experience-button:hover {
    background-color: #0056b3;
  }
  /* Popup CSS */
  .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    top: -100%;
    left: 50%;
    margin-left: -80px;
  }
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  .popup:hover .popuptext {
    visibility: visible;
    opacity: 1;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }